extend base.pug

block content
    h1 Sign Up
    form(action='/users/signup', method="POST")
        input(type="text" name="username")
        input(type="password" name="password")
        input(type="submit" value = "Log in!")
